<section id="main">
  <section id="modules" class="">
  <ol>
    <li ng-repeat="group in groups" href="/{{group.value.permalink}}" title="Cat Videos Group">
      <a href="/{{group.value.permalink}}">
        <div class="module-info">
          <p class='group-name'>{{group.value.name}}</p>
          <p>{{group.value.title}}</p>
        </div>
        <div class="gravatar">
          <img src="public/images/{{group.value.user}}.jpg">
        </div>
      </a>
    </li>
  </ol>
  </section>
</section>
