<section class="group-wrap">
  <section class="group" class="">
  <ol>
    <li href="/group/cat-videos" title="Cat Videos Group">
      <a href="/cat-videos">
        <div class="module-info">
          <p class='group-name'>{{group.name}} Group</p>
          <p>{{group.title}}</p>
        </div>
        <div class="gravatar">
          <!-- <img src="public/images/6.jpg"> -->
        </div>
      </a>
    </li>
  </ol>
  </section>
</section>

<br />

<section class="topics-wrap">
  <section class="topics" class="">
  <ol>
    <li ng-repeat="topic in topics" href="/group/cat-videos" title="">
      <a href="/cat-videos">
        <div class="module-info">
          <p>{{topic.title}}</p>
        </div>
        <div class="gravatar">
          <img src="public/images/10.jpg">
        </div>
      </a>
    </li>
  </ol>
  </section>
</section>
