<section class="group-wrap">
  <section class="group" class="">
  <ol>
    <li href="/group/cat-videos" title="Cat Videos Group">
      <a href="/cat-videos">
        <div class="module-info">
          <p class='group-name'>Topic</p>
          <p>crazy cats</p>
        </div>
        <div class="gravatar">
          <!-- <img src="public/images/6.jpg"> -->
        </div>
      </a>
    </li>
  </ol>
  </section>
</section>

<br />


<section class="topics-wrap">
  <section class="topics" class="">
  <ol>
    <li title="">
      <a href="/topic/crazy-cat">
        <div class="module-info">
          <p>Air boxing</p>
          <img src="https://lh5.googleusercontent.com/-pc42P8qYBmY/UR1uKM9L5eI/AAAAAAAAGu8/YyVHWtu3lxA/s500/150.gif" alt="" />
        </div>
        <div class="gravatar">
          <img class='topic' src="/public/images/1.jpg">
        </div>
      </a>
    </li>
    
    <li title="">
      <a href="/topic/crazy-cat">
        <div class="module-info">
          <p>awesome! check out this one</p>
          <img src="https://lh4.googleusercontent.com/-JgCapW9xS5w/UUtBiIEsItI/AAAAAAAAGzA/h_KBvxrKKp8/s320/160.gif" alt="" />
        </div>
        <div class="gravatar">
          <img class='topic' src="/public/images/10.jpg">
        </div>
      </a>
    </li>

    <li title="">
      <a href="/cat-videos/crazy-cat">
        <div class="module-info">
          <p>LOL awesome</p>
        </div>
        <div class="gravatar">
          <img class='topic' src="/public/images/12.jpg">
        </div>
      </a>
    </li>

    <li title="">
      <a href="/topic/crazy-cat">
        <div class="module-info">
          <p>the hat from hell</p>
          <img src="https://lh6.googleusercontent.com/-cLcg4yTeI-w/UR1uLGJA0FI/AAAAAAAAGvQ/Zu1or9_LjGo/s320/152.gif" alt="" />
        </div>
        <div class="gravatar">
          <img class='topic' src="/public/images/13.jpg">
        </div>
      </a>
    </li>

    <li title="">
      <a href="/cat-videos/crazy-cat">
        <div class="module-info">
          <p>OMG OMG WTF</p>
        </div>
        <div class="gravatar">
          <img class='topic' src="/public/images/15.jpg">
        </div>
      </a>
    </li>

    <li title="">
      <a href="/topic/crazy-cat">
        <div class="module-info">
          <p>Frozen cat</p>
          <img src="https://lh4.googleusercontent.com/-zZLr2PDNWjc/UR1uI2MP1II/AAAAAAAAGuc/VOty2r0SeK4/s499/146.gif" alt="" />
        </div>
        <div class="gravatar">
          <img class='topic' src="/public/images/2.jpg">
        </div>
      </a>
    </li>
    
  </ol>
  </section>
</section>


